/*  $color1: rgba(61, 90, 128, 1);
    $color2: rgba(152, 193, 217, 1);
    $color3: rgba(224, 251, 252, 1);
    $color4: rgba(238, 108, 77, 1);
    $color5: rgba(41, 50, 65, 1);
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: stretch;
}

.navigation {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:darkslategray;
    height: 100vh;
    width: auto;
    padding: 20px 100px 20px 20px;
    color: white;
}

.content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
}